[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
flake8 = "*"
apache-airflow = "==1.10.3"
flask = "==1.0.3"
pylint = "*"

[requires]
python_version = "3.6"
